@import "font";
@import "base";
@import "layout";
@import "modules/example";

div[boutton1] {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 16px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

div[boutton2] {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 16px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}